[loggers]
keys=root,distribute

[handlers]
keys=consoleHandler

[formatters]
keys=simpleFormatter

[logger_root]
level=DEBUG
handlers=consoleHandler

[logger_distribute]
level=DEBUG
handlers=consoleHandler
qualname=distribute
propagate=1

[handler_consoleHandler]
class=handlers.RotatingFileHandler
level=DEBUG
formatter=simpleFormatter
args=("ml.log", "a", 0, 10,)

[formatter_simpleFormatter]
format=%(asctime)s - %(name)s - %(levelname)s - %(message)s
datefmt=
