{
    "members" : [
        {
            "email" : { "default" : "test@mail.com"},
            "name" : "Name",
            "aliases" : ["Alternative 1", "Alt 2"],
            "active" : true
        },
        {
            "email" : { "default" : "loser@mail.com"},
            "name" : "Unknown",
            "aliases" : ["Doe 1", "Doe 2"],
            "active" : true
        },
        {
            "email" : { "work" : "Stranger@mail.com",
                        "home" : "AnotherStranger@mail.com"},
            "send_to" : "work",
            "name" : "Niño Él",
            "aliases" : ["Sí", "Quizás"],
            "digest" : true,             
            "active" : true
        },
        {
            "email" : { "default" : "inactive@mail.com"},
            "name" : "MIA",
            "aliases" : [],
            "active" : false
        }
    ],

    "whitelist" : [
        "whitelist@host.com",
        "whitelist2@host.com"
    ],

    "blacklist" : [
        "blacklist@host.com"
    ]
}
